@import "~bootstrap/scss/bootstrap";

.EmojiWeatherMapSettings {
    @include clearfix;

    &__AppTitle {
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: center;
        }
    
        img {
            width: 25pt;
            height: 25pt;
        }
    }
    
    &__SettingsList {
        @include media-breakpoint-up(xl) {
            float: center;
            width: 300px;
        }

        @include media-breakpoint-up(lg) {
            float: center;
            width: 300px;
        }

        @include media-breakpoint-up(md) {
            width: 400px;
            margin: auto;
        }
        padding-top: 25pt;

    }
}

