.EmojiWeatherMap {
    margin: auto;
    text-align: left;
    font-size: 35pt;
    min-width: 450px;
}

.emoji {
    display: inline-block;
}

.offset-space {
    display: inline-block;
}


@media (max-width: 768px) { 

    .EmojiWeatherMap {
        font-size: 25pt;
        line-height: 30pt;
    }
    
    .emoji {
        width: 30pt;
    }
    
    .offset-space {
        width: 14pt;
    }

}