.EmojiWeatherMap {
    padding: 25px;
    margin: auto;
    text-align: left;
    white-space: nowrap;
    font-size: 40pt;
    line-height: 40pt;
}

.emoji {
    /* display: inline-block; */
}

.offset-space {
    /* display: inline-block; */
}


@media (max-width: 768px) { 

    .EmojiWeatherMap {
        font-size: 25pt;
        line-height: 25pt;
    }
}