.EmojiWeatherMap {
    font-family: Arial;
    padding: 25px;
    margin: auto;
    text-align: left;
    white-space: nowrap;
    font-size: 40pt;
    line-height: 40pt;
}

.emoji {
    width: 40pt;
    height: 40pt;
}

.offset-space {
    width: 8pt;
    height: 40pt;
}

.emoji-loading{
    display: inline-block;
    width: 40pt;
    height: 40pt;
}

@media (max-width: 768px) { 

    .EmojiWeatherMap {
        font-size: 25pt;
        line-height: 25pt;
    }

    .emoji-loading{
        display: inline-block;
        width: 25pt;
        height: 25pt;
    }
}